server/nul
# Node
node_modules/

# Env
.env

# Prisma (dev SQLite)
server/prisma/dev.db
server/prisma/dev.db-journal

# Buildy
dist/
build/

# Logi
npm-debug.log*
yarn-*.log
pnpm-debug.log*

# System
.DS_Store
Thumbs.db
